body {
  background: #001233; /* كحلي غامق */
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.my-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
}

.name {
  font-size: 35px;
  color: black;
  background: white;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 8px;
}

.job {
  font-size: 18px;
  margin-top: 10px;
}

.stats {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.box h3 {
  font-size: 30px;
  margin: 0;
}

.contact {
  margin-top: 40px;
  font-size: 18px;
}

.contact a {
  color: #00ffea;
  font-weight: bold;
  text-decoration: none;
}
