

/* منع الزوم نهائي */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #00132b;
  overflow-x: hidden;
  touch-action: manipulation;
}

/* الحاوية الأساسية */
.container {
  max-width: 430px;
  background: #ffffff;
  margin: 30px auto;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

/* الصورة */
.profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

/* الاسم */
h2 {
  font-size: 22px;
  margin-top: 10px;
}

/* الوصف */
.bio {
  font-size: 18px;
  margin-top: 8px;
  color: #333;
}

/* العناوين */
.section-title {
  margin-top: 25px;
  font-size: 19px;
  font-weight: bold;
}

/* زر التحميل */
.download-btn {
  display: block;
  background: #00132b;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 12px;
  font-size: 17px;
}

/* وصف البرنامج */
.app-desc {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
  line-height: 1.5;
}

/* أزرار التواصل */
.contact-btn {
  display: block;
  background: #00132b;
  color: white;
  text-decoration: none;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
}
#skills {
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

#skills h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  background: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
}

.skill-fill {
  background: #4CAF50;
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  border-radius: 25px;
}
