body {
    background: #00132b;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
}

.card {
    background: #fff;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.bio {
    font-size: 17px;
    margin-top: 10px;
}

.details {
    color: #444;
    margin: 5px 0 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.box {
    background: #00132b;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
}

.buttons .btn {
    display: block;
    background: #00132b;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
}

.contact h3 {
    margin-top: 25px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #999;
    border-radius: 5px;
}

.contact button {
    background: #00132b;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 5px;
    border-radius: 6px;
    cursor: pointer;
}
