body {
  margin: 0;
  padding: 0;
  background: #00132b;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  background: #e5e5e5;
  width: 92%;
  max-width: 430px;
  margin: 25px 0;
  padding: 18px;
  border-radius: 14px;
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00132b;
}

h1 {
  margin: 10px 0 5px;
  font-size: 25px;
  font-weight: bold;
}

.bio {
  font-size: 17px;
  margin-top: 5px;
  color: #222;
}

.section-title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.btn {
  display: block;
  background: #00132b;
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
}

.desc {
  font-size: 14px;
  color: #333;
  margin-top: 6px;
}

img, a, input, textarea, button {
  touch-action: manipulation;
}
