body {
    background-color: #001132;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

.profile h1 {
    margin-top: 10px;
    color: #000;
    background: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: inline-block;
}

.title {
    margin-top: 5px;
    font-size: 18px;
    color: #bce1ff;
}

.location {
    font-size: 15px;
    margin-top: 2px;
    opacity: 0.8;
}

.info-box {
    background: #0a1d43;
    margin: 20px auto;
    padding: 15px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #4aaaff;
}

.info-box h2 {
    margin: 0;
    font-size: 20px;
    color: #4aaaff;
}

.info-box p {
    margin: 5px 0 0;
    font-size: 18px;
}
