body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    direction: rtl;
    background: #0b1a35; /* كحلي غامق */
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.name {
    font-size: 60px;
    color: black;
    background: white;
    padding: 8px 18px;
    border-radius: 6px;
    display: inline-block;
}

.about {
    margin-top: 15px;
    line-height: 1.9;
    font-size: 18px;
}

.stats {
    margin-top: 25px;
    display: flex;
    gap: 25px;
}

.box {
    background: white;
    color: black;
    padding: 18px 28px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.box span {
    display: block;
    font-size: 35px;
    font-weight: bold;
}

.contact, .fb {
    margin-top: 20px;
    font-size: 18px;
}

.whatsapp {
    color: #25D366;
    font-weight: bold;
    text-decoration: none;
}

.whatsapp:hover {
    opacity: 0.7;
}

.image-box img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    border: 3px solid white;
}
