body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    animation: bg 6s infinite alternate ease-in-out;
    background: linear-gradient(120deg, #00132e, #00244d, #001b39);
    background-size: 300% 300%;
}

@keyframes bg {
    0% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
.container {
    padding: 30px;
    max-width: 450px; /* حجم المحتوى ثابت */
    margin: auto; /* يخلي المحتوى في النص */
    background: rgba(255, 255, 255, 0.04); /* خلفية خفيفة شيك */
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #ffffffa4;
    box-shadow: 0 0 18px rgba(255,255,255,0.5);
}

.name {
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
}

.bio {
    font-size: 18px;
    margin-top: 5px;
    opacity: 0.9;
}

.info {
    margin-top: 5px;
    font-size: 16px;
    opacity: 0.8;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.box {
    background: rgba(255,255,255,0.12);
    padding: 15px 25px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
}

.box h2 {
    margin: 0;
    font-size: 20px;
}

.box p {
    font-size: 22px;
    margin: 8px 0 0;
    font-weight: bold;
}

.social {
    margin-top: 35px;
}

.btn {
    display: block;
    background: #00ffbb;
    color: #000;
    margin: 10px auto;
    width: 200px;
    padding: 12px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #00d49d;
}
